<html lang="">
<head>
    <link rel="stylesheet" href="/style.css">
    <script src="/axios.min.js"></script>
    <script>
        const refreshTable = () => {
            axios.get('/violations').then(response => {

                // clear table before append
                const tableRows = document.querySelectorAll('#pilotTable tr');
                for (let i = 1; i < tableRows.length; i++) {
                    tableRows[i].remove();
                }

                // format for easy sort
                const pilots = [];
                for (const pilotId in response.data) {
                    const pilotData = response.data[pilotId];
                    pilots.push({
                        firstName: pilotData.pilot.firstName,
                        lastName: pilotData.pilot.lastName,
                        phoneNumber: pilotData.pilot.phoneNumber,
                        email: pilotData.pilot.email,
                        distance: pilotData.distance,
                        time: pilotData.time
                    });
                }

                pilots.sort((a, b) => a.time - b.time);

                pilots.forEach(pilotData => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                      <td>${pilotData.firstName}</td>
                      <td>${pilotData.lastName}</td>
                      <td>${pilotData.phoneNumber}</td>
                      <td>${pilotData.email}</td>
                      <td>${(pilotData.distance / 1000).toFixed(2) + "m"}</td>
                      <td>${new Date(pilotData.time).toLocaleTimeString()}</td>
                    `;
                    document.querySelector('#pilotTable').appendChild(row);
                });
            });
        };

        window.addEventListener('load', () => {
            setInterval(refreshTable, 2000);

            refreshTable();
        });
    </script>
    <title>NDZ Violators</title>
</head>
<body>
<table id="pilotTable">
    <caption th:text="${scannerInfo.deviceId}"></caption>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Closest Distance</th>
        <th>Last Seen</th>
    </tr>
</table>
</body>
</html>